<template>
  <div class="container-fluid full-height">
    <div class="full-height row align-items-center">
      <div class="col center-home">
        <img id="logo" src="../assets/logo-cs-white.png">
        <HomeDescription/>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import HomeDescription from "@/components/HomeDescription.vue";

export default {
  name: "home",
  components: {
    HomeDescription
  }
};
</script>

<style lang="scss" scoped>
#logo {
  width: 300px;
  height: auto;
  @media screen and (max-width: 350px) {
    width: 80%;
  }
}

#app {
  height: 100%;
}

.full-height {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../assets/CSback.png") no-repeat center center fixed;
  background-size: cover;
  color: white;
  text-align: center;
  height: 100%;
}

.center-home {
  @media screen and (max-height: 500px) {
    margin-top: 0px;
  }
  margin-top: -50px;
}
</style>