<template>
<div>
  <Menu></Menu>
  <side-bar></side-bar>
<div class="main">
 <div class="container-fluid">
    <stats></stats>
    <all-cases></all-cases>
    <articles></articles>
  </div>
</div>
</div>
</template>

<script>
import Menu from "@/components/Menu.vue";
import Stats from "@/components/Statistiques.vue";
import AllCases from "@/components/AllCases.vue";
import SideBar from "@/components/SideMenu.vue";
import Articles from "@/components/Articles.vue";

export default {
  components: {
    Menu,
    Stats,
    AllCases,
    SideBar,
    Articles
  }
};
</script>

<style lang="scss" scoped>
.col-content {
  text-align: center;
  padding: 20px;
}
.main {
  padding-top: 56px;
  padding-left: 200px;
}
</style>