<template>
<div class="row">
    <div class="logo">
        <font-awesome-icon icon="archive" />
        </div>
    <div class="col title">All Cases</div>
</div>
</template>

<style lang="scss" scoped>
.row {
  background-color: #1e2127;
  padding: 15px;
  min-height: 500px;
  .title {
    font-size: 18px;
    font-weight: bold;
  }
}
</style>

<script>
export default {};
</script>
