<template>
<div>
    <div class="row">
        <div class="col flex">
            <div class="logo">
                <font-awesome-icon icon="newspaper" />
            </div>
            <div class="col title">Articles</div>
        </div>
    </div>

    <div class="row">
      <div class="col-md col-content">
        <center><Card></Card></center>
      </div>
      <div class="col-md col-content">
        <center><Card></Card></center>
      </div>
      <div class="col-md col-content">
        <center><Card></Card></center>
      </div>
    </div>
    </div>
</template>

<style lang="scss" scoped>
.row {
  padding: 15px;
  .title {
    font-size: 18px;
    font-weight: bold;
  }
  .flex {
    display: flex;
  }
}
</style>


<script>
import Card from "@/components/Card.vue";

export default {
  components: {
    Card
  }
};
</script>
