<template>
  <div class="card shadow">
    <h1 class="title">Ceci est une card</h1>
    <div class="content">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat quia illum aperiam maxime aliquid reiciendis, assumenda expedita nostrum quibusdam possimus quod! Non itaque accusamus corporis omnis ea numquam, porro nostrum.
      </p>
    </div>
    <div class="img">
      <img class="content-img" src="https://i0.wp.com/static.connectesport.com/uploads/2016/12/csgo.jpg?resize=780%2C332&ssl=1">
    </div>
  </div>
</template>

<style lang="scss" scoped>
.card {
  background-color: white;
  border-radius: 6px;
  min-height: 300px;
  height: 100%;
  text-align: left;
  width: 90%;
  color: #1f2127;
  border: none;
  .title {
    padding-top: 14px;
    text-align: center;
    margin-bottom: 0;
    font-size: 22px;
    font-weight: bold;
  }
  .content {
    padding: 10px;
  }
  .img {
    .content-img {
      width: 100%;
      border-radius: 0 0 6px 6px;
    }
  }
}
</style>

<script>
export default {
  name: "Card"
};
</script>