<template>
  <div class="hello">
    <h1>Welcome to VCaseV2</h1>
    <p>
      The first Vcase site !<br>
      Sign in with your steam account to start trading !
    </p>
    <div>
    <img id="sigin-steam" src="../assets/steam-signin-button.png">
    </div>
  </div>
</template>

<script>
export default {
  name: "HomeDescription"
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h1 {
  @media screen and (max-width: 550px) {
    font-size: 20px;
    font-weight: 900;
  }
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.hello {
  color: white;
}

#sigin-steam {
  border-radius: 4px;
  margin-top: 40px;
  margin-bottom: 40px;
  @media screen and (max-width: 500px) {
    width: 80%;
  }
}

p {
  font-weight: 800;
}
</style>
