<template>
  <nav class="navbar navbar-expand navbar-dark">
    <a class="navbar-brand logo" href="#">VcaseV2</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Test</a>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>
export default {
  name: "Menu"
};
</script>

<style style scoped lang="scss">
.logo {
  text-align: center;
  margin-left: -16px;
  width: 200px;
  font-size: 24px;
}

.navbar {
  height: 56px;
  font-weight: bold;
  color: #f6f6f6 !important;
  position: fixed;
  width: 100%;
  background-color: #1d2127;
  z-index: 999;
}
</style>