<template>
<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
  <div class="title">LAST OPEN CASES</div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
</nav>
</template>

<script>
export default {
  name: "SideMenu"
};
</script>

<style lang="scss" scoped>
.box {
  background-color: #292e34;
  min-height: 100px;
  border-left: 2px solid red;
  border-bottom: solid 1px #1f2127;
}

.sidebar {
  background-color: #1e2127;
  position: fixed;
  top: 56px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  // border-right: 1px solid #343a40;
  max-width: 250px;
  width: 200px;
  text-align: center;
  .title {
    font-weight: bold;
    color: #52575c;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 15px;
  }
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

.nav-link.active {
  background-color: #48525b;
}

.nav-item {
  a {
    color: #48525b;
  }
}
</style>