<template>
    <div class="row stats-bar shadow" style="box-shadow: 0 19px 38px red, 0 15px 12px rgba(0, 0, 0, 0.22);">
        <div class="col">
           <div class="content">
                <div class="ico"> <font-awesome-icon icon="key" /></div>
                <div class="txt-nb">
                    <div class="nb" style="color: blue">10 000</div>
                    <div class="subtitle">OPEN CASES</div>
                </div>
            </div>
        </div>
        <div class="col">
           <div class="content">
                <div class="ico"> <font-awesome-icon icon="users" /></div>
                <div class="txt-nb">
                    <div class="nb" style="color: white">10 000</div>
                    <div class="subtitle">TOTAL PLAYERS</div>
                </div>
            </div>
        </div>
        <div class="col">
           <div class="content">
                <div class="ico"> <font-awesome-icon icon="signal" /></div>
                <div class="txt-nb">
                    <div class="nb" style="color: red">10 000</div>
                    <div class="subtitle">ONLINE PLAYERS</div>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
.stats-bar {
  font-weight: bold;
  text-align: center;
  padding: 15px;
}

.content {
  display: inline-flex;
}

.txt-nb {
  display: block;
  .nb {
    font-size: 24px;
  }
  .subtitle {
    font-size: 12px;
    color: #52575c;
  }
}

.ico {
  font-size: 30px;
  vertical-align: middle;
  margin-top: 5px;
  margin-right: 20px;
}
</style>

<script>
export default {};
</script>

