@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html,
body {
  height: 100%;
  margin: 0;
}

#app {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // color: #2c3e50;
  // background-color: #e9ebee;
  background-color: #272e34;
  color: #f6f6f6;
  min-height: 100%;
}

.main {
  height: 100%;
}
